
uni-page-body, uni-page-refresh{
	height: 100%;
}
.content{
	display: flex;
	width:100%;
	height: 100%;
	background-color: #F5F4F8;
}
.navmall{
	height: 100%;
	width:10%;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: baseline;
	position: relative;
	color: #B0B0B0;
	font-size: 28rpx;
}
.navmall .logo{
	width:40%;
	margin:0 auto 20rpx;
}
.navmall .logo image{
	width:100%;
}
.menu{
	width:100%;
	margin-top:20rpx;
	height: 76%;
	padding-bottom: 50%;
}
.menu view{
	width:100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding:12% 0;
}
.menu .curr{
	background-color: #006B44;
	color: #fff;
	width:80%;
	margin:6% auto;
	border-radius: 30px;
}
.menu view image{
	width:50rpx;
	margin-bottom: 20rpx;
}
.exit{
	width:100%;
	position: absolute;
	bottom:3%;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 26rpx;
}
.exit image{
	width:40rpx;
}
.right{
	width:90%;
}
.nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:10rpx 2%;
	background-color: #fff;
}
.message{
	display: flex;
}
.message .imgs{
	background-color: #006B44;
	border-radius: 10px 0 0 10px;
	width:70rpx;
	height: 70rpx;
	line-height: 70rpx;
	display: flex;
	justify-content: center;
	align-items: center;
}
.message .imgs image{
	width:50%;
}
.message text{
	display: inline-block;
	height: 70rpx;
	line-height: 70rpx;
	background-color: #EEEEEE;
	color: #006B44;
	padding:0 18rpx;
	border-radius:0 10px 10px 0;
	font-size: 20rpx;
}
.account{
	display: flex;
	justify-content: center;
	align-items: center;
}
.account image{
	width:80rpx;
	height: 80rpx;
	margin-left: 20rpx;
}
.hh{
	padding:16rpx 2%;
	font-size: 36rpx;
	font-weight: 700;
	display: flex;
	justify-content: start;
	align-items: center;
}
.hh image{
	width:40rpx;
	margin-right: 12rpx;
}
.amounts{
	background-color: #fff;
	border-radius: 10px;
	padding:1.6% 0 1%;
	width:96%;
	margin:0 auto;
	display: flex;
}
.amounts p{
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	width:19.5%;
	border-right:1px solid #f5f5f5;
	font-size: 32rpx;
	font-weight: 700;
	padding-top:20rpx;
	color: #666;
}
.amounts p:nth-last-child(1){
	border-right:none;
}
.amounts p text:nth-child(2){
	font-size: 60rpx;
	line-height: 100px;
	color: #333;
}
.amounts p input{
	margin-top:12rpx;
	height: 80rpx;
	line-height: 80rpx;
	border:1px solid #006B44;
	background-color: #F1F9F1;
	text-align: center;
	border-radius: 10px;
}
.paydetails{
	display: flex;
	height: 68%;
	margin:2%;
}
.pay-sum{
	display: flex;
	width:30%;
	background-color: #fff;
	border-radius: 10px;
	padding:0 1.5%;
	height: 100%;
}
.settleds{
	width:100%;
}
.settleds h3{
	line-height: 100rpx;
}
.paymentlist{
	min-height: 86%;
	display: flex;
	flex-direction: column;
	/* justify-content: space-between; */
	gap:10px;
}
.paymentlist .refund{
	background-color: #fff;
	border-top:1px solid #D3D3D3;
	margin-top:20px;
	border-radius: 0;
	min-height: 50%;
}
.sets-list{
	min-height: 86%;
	background-color: #F9F9F9;
	border-radius: 10rpx;
	padding:0 5%;
	position: relative;
}
.paylists{
	max-height: 80%;
	overflow: auto;
	padding-bottom: 150rpx;
}
.Methods{
	width:100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 40rpx 0;
}
.payicon{
	display: flex;
	justify-content: start;
	align-items: center;
}
.payicon image{
	width:70rpx;
	margin-right: 10px;
}
.stills{
	width:90%;
	height: 150rpx;
	display:flex;
	align-items: center;
	border-top:1px solid #D3D3D3;
	position: absolute;
	bottom:0;
	left: 5%;
}
.stills .payicon image{
	width:60rpx;
}
.choosepays{
	width:68%;
	background-color: #fff;
	border-radius: 10px;
	padding:1.5%;
	height: 95%;
	margin-left: 2%;	
}

.pays-bj{
	width:100%;
	height: 88%;
	overflow: auto;
}
.top-zhifu{
	display: flex;
	flex-wrap: wrap;
	width:100%;
	margin-bottom: 3.5%;
	height: 60%;
}
.polys{
	width:48%;
	text-align: center;
	border:1px solid #D3D3D3;
	border-radius: 10px;
	height: 100%;
}
.polys p{
	font-size: 40rpx;
	line-height: 160rpx;
	font-weight: 700;
	padding-top:5%;
	position: relative;
	z-index: 9;
}
.polys label{
	display: flex;
	width:100%;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 9;
	
}
.polys label image{
	width:100rpx;
	margin:0 5%;
}
.polys text{
	display: block;
	font-size: 14px;
	color: #CCCCCC;
	margin-top:25%;
	position: relative;
	z-index: 9;
}
.r-zhifu{
	width:48%;
	margin-left: 3%;
}
.pattern{
	width:88%;
	display: flex;
	height: 46.3%;
	align-items: center;
	justify-content: space-between;
	border:1px solid #D3D3D3;
	border-radius: 10px;
	padding:0 6%;
}
.pattern:nth-child(1){
	margin-bottom:6%;
}
.pattern p{
	font-size: 40rpx;
	font-weight: 700;
	line-height: 80rpx;
	position: relative;
	z-index: 9;
}
.pattern text{
	color: #999;
	font-size: 28rpx;
	position: relative;
	z-index: 9;
}
.pattern image{
	width:120rpx;
	position: relative;
	z-index: 9;
}
.bom-zhifu{
	display: flex;
}
.bom-zhifu .pattern{
	width:48%;
	height: 100%;
	padding:5.5% 3%;
}
.bom-zhifu .pattern{
	margin-bottom: 3%;
}
.bom-zhifu .pattern:nth-child(2){
	margin-left:3%;
}
.nots p{
	color: #CCCCCC;
}
.btn{
	background-color: #42B14B;
	color: #fff;
	font-size: 38rpx;
}
.pays-bj .curr.selected{
	border-color: #338869;
	background: linear-gradient(74deg, #f0fcf1 0%, #e2fee5 100%);
	position: relative;
}
.pays-bj .curr.selected .p-bg{
	position: absolute;
	top:0;
	right: 0;
	width:80%;
	height: 100%;
	z-index: 0;
	display: block;
}
.pays-bj .curr.selected p,.pays-bj .curr.selected text{
	color: #338869;
}
.pays-bj .p-bg{
	display: none;
}