uni-page-body,
uni-page-refresh,
page {
	height: 98%;
	background-color: #F5F4F8;
}

.content {
	display: flex;
	width: 100%;
	height: 95vh;
	overflow: hidden;
	background-color: #F5F4F8;
	box-sizing: border-box;
	align-items: center;
	margin-top:3vh;
}

.getback {
	display: flex;
	justify-content: start;
	align-items: center;
}

.fh {
	width: 12px;
	margin-right: 50rpx;
}

.navmall {
	height: 100%;
	width: 10%;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: baseline;
	position: relative;
	color: #B0B0B0;
	font-size: 28rpx;
}

.navmall .logo {
	width: 40%;
	margin: 0 auto 20rpx;
}

.navmall .logo image {
	width: 100%;
}

.menu {
	width: 100%;
	margin-top: 20rpx;
	height: 76%;
	padding-bottom: 50%;
}

.menu view {
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 12% 0;
}

.menu .curr {
	background-color: #006B44;
	color: #fff;
	width: 80%;
	margin: 6% auto;
	border-radius: 30px;
}

.menu view image {
	width: 50rpx;
	margin-bottom: 20rpx;
}

.exit {
	width: 100%;
	position: absolute;
	bottom: 3%;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 26rpx;
}

.exit image {
	width: 40rpx;
}

.right {
	width: 100%;
	height: 100%;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10rpx 2%;
	background-color: #fff;
}

.message {
	display: flex;
}

.message .imgs {
	background-color: #006B44;
	border-radius: 10px 0 0 10px;
	width: 70rpx;
	height: 70rpx;
	line-height: 70rpx;
	display: flex;
	justify-content: center;
	align-items: center;
}

.message .imgs image {
	width: 50%;
}

.message text {
	display: inline-block;
	height: 70rpx;
	line-height: 70rpx;
	background-color: #EEEEEE;
	color: #006B44;
	padding: 0 18rpx;
	border-radius: 0 10px 10px 0;
	font-size: 24rpx;
}

.account {
	display: flex;
	justify-content: center;
	align-items: center;
}

.account image {
	width: 80rpx;
	height: 80rpx;
	margin-left: 20rpx;
}

.hh {
	padding: 24rpx 2%;
	font-size: 36rpx;
	font-weight: 700;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.hh view{
	display: flex;
	align-items: center;
}
.hh image {
	width: 40rpx;
	margin-right: 12rpx;
}

.hh button {
	background-color: #006B44;
	color: #fff;
	height: 50rpx;
	line-height: 50rpx;
	font-size: 26rpx;
	margin: 0;
	border-radius: 50rpx;
}

.amounts {
	background-color: #fff;
	border-radius: 10px;
	padding: 1.6% 0 1%;
	width: 96%;
	margin: 0 auto;
	display: flex;
}

.amounts p {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	width: 19.5%;
	border-right: 1px solid #f5f5f5;
	font-size: 32rpx;
	font-weight: 700;
	padding-top: 20rpx;
	color: #666;
}

.amounts p:nth-last-child(1) {
	border-right: none;
}

.amounts p text:nth-child(2) {
	font-size: 60rpx;
	line-height: 100px;
	color: #333;
}

.amounts p input {
	margin-top: 12rpx;
	height: 80rpx;
	line-height: 80rpx;
	border: 1px solid #006B44;
	background-color: #F1F9F1;
	text-align: center;
	border-radius: 10px;
	font-size: 60rpx;
}

.paydetails {
	display: flex;
	height: 61%;
	margin: 2% 2% 0;
}

.pay-sum {
	display: flex;
	width: 30%;
	background-color: #fff;
	border-radius: 10px;
	padding: 0 1.5%;
	height: 100%;
}

.settleds {
	width: 100%;
}

.settleds h3 {
	line-height: 100rpx;
}

.paymentlist {
	min-height: 96%;
	max-height: 100%;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	/* justify-content: space-between;*/
}

.paymentlist .refund {
	background-color: #fff;
	border-top: 1px solid #eee;
	border-radius: 0;
	min-height: 50%;
}

.sets-list {
	min-height: 86%;
	background-color: #F9F9F9;
	border-radius: 10rpx;
	position: relative;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.paylists {
	max-height: 80%;
	overflow: auto;
	display: flex;
	flex-direction: column;
	gap: 25px;
	padding: 10px 2.8%;
}

.Methods {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	right: -10px;
}

.payicon {
	display: flex;
	justify-content: start;
	align-items: center;
}

.payicon image {
	width: 70rpx;
	margin-right: 10px;
}

.stills {
	width: 90%;
	height: 150rpx;
	display: flex;
	align-items: center;
	border-top: 1px solid #D3D3D3;
	/* position: absolute; */
	bottom: 0;
	left: 5%;
}

.stills .payicon image {
	width: 60rpx;
}

.choosepays {
	width: 68%;
	background-color: #fff;
	border-radius: 5px;
	padding: 1.5%;
	height: 100%;
	margin-left: 2%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	box-sizing: border-box;
}

.pays-bj {
	width: 100%;
	overflow: auto;
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 4.5%;
}

.top-zhifu {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 60%;
	justify-content: center;
}

.bom-zhifu .pattern:nth-child(1) {
	width: 47%;
	text-align: center;
	border: 1px solid #D3D3D3;
	border-radius: 10px;
	height: 460rpx;
	float: left;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	margin-left: 0;
}

.bom-zhifu .pattern:nth-child(1) p {
	font-size: 40rpx;
	line-height: 160rpx;
	font-weight: 700;
	position: relative;
	z-index: 9;
}

.bom-zhifu .pattern:nth-child(1) label {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 9;

}

.bom-zhifu .pattern:nth-child(1) label image {
	width: 100rpx;
	margin: 0 2%;
}
.bom-zhifu .pattern:nth-child(1) label view{
	margin:0 20rpx;
}
.bom-zhifu .pattern:nth-child(1) text {
	display: block;
	font-size: 14px;
	color: #CCCCCC;
	margin-top: 10%;
	position: relative;
	z-index: 9;
}

.r-zhifu {
	width: 48%;
	margin-left: 3%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.pattern {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: space-between;
	border: 1px solid #D3D3D3;
	border-radius: 10px;
	padding: 0 6%;
}

.pattern:nth-child(1) {}

.pattern p {
	font-size: 40rpx;
	font-weight: 700;
	line-height: 80rpx;
	position: relative;
	z-index: 9;
}

.pattern text {
	color: #999;
	font-size: 28rpx;
	position: relative;
	z-index: 9;
}

.pattern image {
	width: 120rpx;
	position: relative;
	z-index: 9;
}

.bom-zhifu {
	width:100%;
	/* display: flex;
	justify-content: start;
	flex-wrap: wrap; */
}

.bom-zhifu .pattern {
	width: 47%;
	height:210rpx;
	padding: 1.9% 3%;
	box-sizing: border-box;
	float: left;
	margin-bottom: 40rpx;
	margin-left: 3%;
}
.bom-zhifu .pattern:nth-child(4n){
	margin-left: 0;
}

.nots p {
	color: #CCCCCC;
}

.btn {
	background-color: #42B14B;
	color: #fff;
	font-size: 38rpx;
	width: 98.5%;
}

.pays-bj .curr.selected {
	border-color: #338869;
	background: linear-gradient(74deg, #f0fcf1 0%, #e2fee5 100%);
	position: relative;
}

.pays-bj .curr.selected .p-bg {
	position: absolute;
	top: 0;
	right: 0;
	width: 80%;
	height: 100%;
	z-index: 0;
	display: block;
}

.pays-bj .curr.selected p,
.pays-bj .curr.selected text {
	color: #338869;
}

.pays-bj .p-bg {
	display: none;
}

::-webkit-scrollbar {
	display: none;
	width: 0;
	height: 0;
	color: transparent;
}

.boxs {
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	z-index: 999;
}

.coupons {
	background-color: #fff;
	border-radius: 20rpx;
	width: 86%;
	min-height: 40%;
	max-height: 90%;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding-bottom: 2%;
}

.coupons .h4 {
	line-height: 80rpx;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1% 0 3%;
	font-size: 32rpx;
	font-weight: 700;
	position: absolute;
	top:0;
	left: 0;
	width:96%;
	background-color: #fff;
	border-radius: 20rpx 20rpx 0 0;
}

.coupons .h4 button {
	font-size: 40rpx;
	margin: 0;
	background-color: #fff;
	border-color: #fff;
}

uni-button:after {
	border: none;
}

.uls {
	padding: 100rpx 2%;
	display: flex;
	flex-wrap: wrap;
	max-height: 90%;
	overflow: auto;
}

.uls .lis {
	width: 48%;
	margin: 1% 1% 2%;
	display: flex;
}

.uls .lis .banyuan {
	width: 24rpx;
	height: 100%;
	margin-left: -2px;
}

.voucher {
	background-color: #42B14B;
	color: #fff;
	width: 35%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 14rpx 0 0 14rpx;
}

.voucher view {
	font-size: 60rpx;
	line-height: 80rpx;
	font-weight: 700;
	letter-spacing:-2px;
}

.voucher view text {
	font-size: 30rpx;
}

.datas {
	font-size: 24rpx;
	color: #999;
}

.coupon-dets {
	width: 80%;
	background-color: #F0F9F1;
	border-radius: 0 14rpx 14rpx 0;
}

.coupon-dets image {
	width: 26rpx;
}

.directions {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1rpx solid #D6EED8;
	padding: 3% 2% 2%;
	color: #474747;
	font-size: 24rpx;
	position: relative;
}

.directions .bg {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
}

.directions view image {
	width: 20rpx;
	margin-left: 10rpx;
}

.directions button {
	margin: 0;
	height: 58rpx;
	line-height: 58rpx;
	font-size: 26rpx;
	background: none;
	border-radius: 40rpx;
	border: 1px solid #006B44;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #006B44;
}

.directions button image {
	margin-left: 8rpx;
}

.limit {
	padding: 4% 3% 4% 2%;
}

.limit .h3 {
	font-size: 32rpx;
	font-weight: 700;
	line-height: 56rpx;
	color:#333;
}
.limit .h3 text{
	color:#333;
	font-size: 32rpx;
}
.limit text {
	color: #B0B0B0;
	font-size: 26rpx;
}

.poly-box{
	display: inline-flex !important;
	flex-wrap: wrap !important;
	justify-content:center !important;
	gap: 10px;
	align-items: center !important;
	width: 60% !important;
}

.poly-text{
	position: absolute;
	bottom: 8%;
}


