.prolist{
	width:100%;
}
.classifys text{
	width:124rpx;
	padding:4rpx 0;
	text-align: center;
}
.prints{
	margin-left: 10rpx;
}
.hh{
	padding:24rpx 0 24rpx 2%;
}
.products .procycle .li{
	width:45.5%;
	border:1rpx solid #f0f0f0;
}
.products .procycle .li:nth-child(2n) {
    margin-right: 0;
}
.prolist .products .procycle .li .h3{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width:100%;
}
.procycle .li .h3 .price{
	margin-top:0;
}
.handles{
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top:1px solid #eee;
	padding-top:20rpx;
}
.handles button{
	width:120rpx;
	height: 60rpx;
	line-height: 60rpx;
	font-size: 28rpx;
}
.handles text{
	font-size: 26rpx;
	color: #FF8367;
}
.goods{
	height: 54%;
}
.pop-r .confirm{
	display: flex;
}
.pop-r .confirm button{
	width:48%;
	margin:0 2%;
}
.member label{
	font-weight: 600;
}
.meminfo .restlist{
	padding:0 4%;
	position: relative;
	z-index:9
}
.meminfo .restlist label{
	display: flex;
	margin:1% 0;
}
.meminfo .restlist label text{
	display: inline-block;
	width:150rpx;
	font-size: 26rpx;
	color: #B0b0b0;
}
.meminfo .restlist input{
	height: 60rpx;
	background-color: #F5F5F5;
	line-height: 60rpx;
	border-radius: 4rpx;
	border:1px solid #eee;
	width:65%;
}
.meminfo .restlist label:nth-last-child(1){
	width:100%;
}
.meminfo .restlist textarea{
	background-color: #F5F5F5;
	border-radius: 4rpx;
	height: 80rpx;
	line-height: 40rpx;
	width:83%;
	border:1px solid #eee;
}
.meminfo .restlist .long {
	width:100%;
}
.meminfo .restlist .long input{
	width:83%;
}
.meminfo .restlist .note{
	display: flex;
	align-items: center;
	width:100%;
}
.meminfo .restlist .note label{
	width:76%;
}
.meminfo .restlist .note .caozuo{
	display: flex;
	width:21%;
	margin-left: 2%;
}
.meminfo .restlist .note .caozuo button{
	margin-right: 16rpx;
}
.rests{
	border-bottom: none;
}
.h6{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80rpx;
}
.h6 text{
	font-weight: 700;
	font-size: 30rpx;
}
.h6 button{
	font-size: 28rpx;
	color: #B0b0b0;
	height: 56rpx;
	line-height: 56rpx;
	width:160rpx;
	margin:0;
	padding:0;
	background:none;
}
.site{
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 28rpx;
}
.site .caozuo{
	display: flex;
	width:20%;
	justify-content: end;
}
.site .caozuo button{
	margin:0 6rpx;
}
.sitelist{
	display: flex;
	align-items: center;
}
.sitelist label{
	display: block;
	line-height: 60rpx;
}
.more{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 22rpx;
	color: #B0B0B0;
}
.more image{
	width:24rpx;
	height: 24rpx;
	margin-left: 10rpx;
}
.atlas{
	padding:0 3%;
}
.map{
	height: 560rpx;
}
.memberes .operat{
	display: flex;
	padding:30rpx 2%;
	position: absolute;
	bottom:0;
	left: 0;
	width:96%;
	background-color: #fff;
}
.memberes .operat button{
	margin:0 20rpx;
}
.middle{
	height: 80%;
	padding-bottom: 160rpx;
	overflow: auto;
}
.hh .hotcakes .classifys text{
	border:0;
	margin-right: 0;
}
.title-box{
	display: flex;
	justify-content: space-between;
}
.title-box .price:nth-child(1){
	width:70%;
}
.title-box .price:nth-child(2){
	width:30%;
	text-align: right;
	font-weight: 400;
}
.li .cods{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: unset !important;
	padding: 10rpx 0px;
}
.cods view{
	width:50%;
	padding:8rpx 0;
}
.times{
	margin-top:16rpx;
	font-size: 24rpx;
}