:root {
	--green: #42b14b;
	--light-green: #e0eae9;
	--drak-green: #385b3b;
	--light-gray:#f5f4f8;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.loading::after {
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	background-image: url('@/images/loading.png');
	background-size: cover;
	animation: 1.5s rotate infinite linear;
	transform-origin: center;
	margin-left: 14px;
}

/* page {
	overflow: hidden;
} */