:root {
	--green: #42b14b;
	--light-green: #e0eae9;
	--drak-green: #006b44;
	--light-gray:#f5f4f8;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.loading::after {
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	background-image: url('@/images/loading.png');
	background-size: cover;
	animation: 1.5s rotate infinite linear;
	transform-origin: center;
	margin-left: 14px;
}

.full {
	width: 100%;
	height: 100%;
}

.all-border-box, .all-border-box * {
	box-sizing: border-box;
}

.component-content > view {
	height: 100%;
	width: 100%;
}