uni-page-body,
uni-page-refresh,
page {
	height: 100%;
	background-color: #F5F4F8;
}
em{
	font-style:normal;
}
.sgin{
	color: #ff0000;
	margin-right: 4rpx;
}
.btn-xg {
	color: #42B14B;
	border: 1px solid #42B14B;
	height: 60rpx;
	line-height: 60rpx;
	margin: 0 1%;
	background-color: #E3F3E4;
	font-size: 28rpx;
	padding: 0 10rpx;
}

.btn-sc {
	color: #FE694B;
	border: 1px solid #FE694B;
	height: 60rpx;
	line-height: 60rpx;
	margin: 0 1%;
	background-color: #FFE1DB;
	font-size: 28rpx;
	padding: 0 10rpx;
}

.btn-xk {
	color: #42B14B;
	border: 1px solid #42B14B;
	height: 82rpx;
	line-height: 82rpx;
	margin: 0 1%;
	background-color: #fff;
	font-size: 34rpx;
	padding: 0 10rpx;
}

.listof {
	display: flex;
	height: 100%;
}
.commodity{
	height: 100%;
	z-index: 3;
}
.catecyc{
	height: 91%;
	overflow-y: auto;
}
.prolist {
	width: 94%;
	margin: 0;
	height: 98%;
	position: relative;
}
.goods .prolist{
	height: auto;
	width:100%;
}
.hh {
	font-size: 32rpx;
}

.hh .hotcakes view {
	font-size: 28rpx;
	color: #006B44;
	font-weight: 400;
	margin-left: 40rpx;
}

.hh .hotcakes view text {
	display: inline-block;
	padding: 4rpx 20rpx;
	border-radius: 30rpx;
	border: 1px solid #006B44;
	margin-right: 20rpx;
}

.classifys {
	background-color: #E0EAE9;
	color: #006B44;
	font-weight: 400;
	border-radius: 30rpx;
	font-size: 28rpx;
	padding: 2rpx;
	height: 48rpx;
	line-height:48rpx;
	border: 2rpx solid #006B44;
	animation: classy 0.5s ease;
	-webkit-animation: classy 0.5s ease;
	display:flex;
	justify-content: space-between;
	align-items: center;
	max-width:89%;
	}
	@keyframes classy { 
			0%{
				width:0
	
		        }
		    100%{
		        width:auto;
			
		        }
	}


.classifys text{
	margin:0 16rpx;
}
.classifys label image {
	width: 22rpx;
	margin-top: 8rpx;
}

.products .h2 {
	font-size: 30rpx;
	font-weight: 700;
	position: relative;
	color: #333;
	height: 60rpx;
	line-height: 60rpx;
}

.products .h2 label {
	display: block;
	width: 80rpx;
	height: 12rpx;
	background: linear-gradient(90deg, #006B44 0%, rgba(0, 107, 68, 0) 100%);
	border-radius: 9px 9px 9px 9px;
	opacity: 0.4;
	position: absolute;
	bottom: 12rpx;
	left: 0;
	display: none;
}
.products .h2.curr{
	color: #006B44;
}
.products .h2.curr label{
	display: block;
}
.products .h2.curr text{
	animation: scaletext 0.4s ease;
	-webkit-animation: scales 0.4s ease;
	}
@keyframes scaletext {  /*定义关键帧、scaleDrew是需要绑定到选择器的关键帧名称*/
		0%{
			transform: scale(1.1);	
	        }
	    100%{
	        transform: scale(1);
	        }
	        }
.products {
	padding: 0 2% 0;
	/* height: 92%; */
}

.procycle {
	display: flex;
	flex-wrap: wrap;
	/* margin-top: 1%; */
	padding: 5px;
	box-sizing: border-box;
}

.procycle .li {
	width: 20.1%;
	margin-right: 2%;
	padding: 1% 1.5%;
	background-color: #fff;
	border: 1rpx solid #ddd;
	border-radius: 12rpx;
	margin-bottom: 2%;
}
.procycle .li.curr{
	border-color: #42B14B;
	box-shadow:0px 0px 0px 1px #42B14B;
	background: linear-gradient(180deg, #E0F2E1 0%, #FFFFFF 100%);
}
.procycle .li:nth-child(4n){
	margin-right: 0;
}
.procycle .li .h3,
.commods .h3,
.prolist .h3 {
	font-size: 30rpx;
	font-weight: 700;
	display: block;
	align-items: center;
	justify-content: start;
}
.procycle .li>.h3:first-letter{
	color: #42B14B;
	font-size: 40rpx;
}

.procycle .li .h3 image,
.commods .h3 image,
.prolist .h3 image {
	width: 40rpx;
	height: 40rpx;
	margin-right: 6rpx;
}
.commods .uls,.listuls,.zhekou{
	padding:1% 0;
	max-height: 1300rpx;
	overflow: auto;
	width:100%;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	z-index: 99;
}
.commods .uls .lis,.listuls .lis,.zhekou .lis{
	display: flex;
	flex-direction: column;
	border:1px solid #eee;
	border-radius: 10rpx;
	background-color: #fefefe;
	padding:1% 2%;
	margin:0 1% 2%;
	width:43.8%;
}
.commods .uls .lis.curr{
	background: linear-gradient(180deg, #E0F2E1 0%, #FFFFFF 100%);
	border: 2rpx solid #9FD7A3;
}
.uls .lis .protheme,.listuls .lis .protheme{
	display: flex;
	align-items: center;
	padding-bottom: 4%;
	border-bottom: 1rpx solid #D3D3D3;
}
.listuls .lis .protheme{
	padding-bottom: 0;
	border-bottom:none;
}
.uls .lis .protheme image,.listuls .lis .protheme image{
	width:90rpx;
	height: 90rpx;
	margin-right: 4%;
}
.uls .lis .protheme .themes,.listuls .lis .protheme .themes{
	max-width:93%;
}
.uls .lis .protheme .themes .h8,.listuls .lis .protheme .themes .h8{
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.uls .lis .protheme .themes label,.listuls .lis .protheme .themes label{
	font-size: 28rpx;
	color: #b0b0b0;
}
.uls .lis .protheme .themes label text,.listuls .lis .protheme .themes label text{
	display: inline-block;
	padding:0 14rpx;
	background-color: #EBF7EC;
	border:1px solid #42B14B;
	color: #42B14B;
	height: 40rpx;
	line-height: 40rpx;
	margin-right: 20rpx;
	border-radius: 6rpx;
	font-size: 26rpx;	
}
.listuls .lis .protheme .eventdate{
	display: block;
	width:100%;
	color: #333;
	line-height:60rpx;
}
.commods .uls .lis .h8,.listuls .lis .h8,.zhekou .h8{
	font-weight: 700;
	line-height: 70rpx;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis; 
}
.zhekou .h8{
	display: flex;
	justify-content: space-between;
	border-bottom: 1rpx solid #eee;
}
.zhekou label{
	width:100%;
}
.zhekou .manjian{
	line-height: 70rpx;
}
.zhekou .manjian span{
	font-size: 34rpx;
	font-weight: 700;
	color: #006B44;
	margin:0 4rpx;
}
.zhekou .neirong{
	color: #999;
	font-size: 28rpx;
	line-height: 50rpx;
}
.uls .lis .eventdate{
	padding-top:20rpx;
	line-height: 40rpx;
	font-size: 26rpx;
	display: flex;
	justify-content: space-between;
}
.uls .lis .eventdate button{
	width:140rpx;
	height: 60rpx;
	line-height: 60rpx;
}
.uls .lis .eventdate text{
	font-weight: 600;
}
.boxs .promot{
	width:80%;
}
.promot .commods .lis label{
	line-height: 46rpx;
}
.promot .lis label:nth-last-child(1),.promot .lis label:nth-last-child(2){
	color: #B0B0B0;
	font-size: 26rpx;
}
.cods {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #B0B0B0;
	margin: 4% 0;
	font-size: 24rpx;
	flex-wrap: wrap;
}

.cods label {
	display: flex;
	align-items: center;
	justify-content: start;
}

.cods label image {
	width: 30rpx;
	height: 30rpx;
}

.price {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 6%;
}

.price text {
	font-size: 30rpx;
	color: #333;
	font-weight: 700;
}

.price view image {
	width: 40rpx;
	height: 40rpx;
}

.operation {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 6% !important;
	height: 74%;
	padding-top: 6%;
	position: relative;
	z-index: 9997;
}

.operation .ranks {
	position: absolute;
	top: 1%;
	left: -55%;
	width: 68%;
	height: 110%;
	/* transform: translate(-50%, -50%); */
	background-color: #E0EAE9;
	color: #006B44;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 6% 0;
	border-radius: 6rpx;
	font-size: 28rpx;
	font-weight: 700;
	animation: scales 0.5s ease;
		-webkit-animation: scales 0.5s ease;
	}
	@keyframes scales {  /*定义关键帧、scaleDrew是需要绑定到选择器的关键帧名称*/
		0%{
			transform: scale(0.1);
			top: -30%;
			left:20%;

	        }
	    100%{
	        transform: scale(1);
			top: 1%;
			left: -65%;
			/* transform: translate(-50%, -50%); */
	        }
	        }
.operation .ranks label{
	width:60rpx;
	height: 60rpx;	
	display: flex;
	justify-content:center;
	align-items: center;
	position: relative;
}

.operation .ranks label text{
	position: relative;
	z-index: 3;
}
.operation .curr {
	color: #fff;
}

.operation .curr em {
	display: block;
	position: absolute;
	top: 2rpx;
	left: 4rpx;
	background-color: #006B44;
	padding: 2% 0;
	width: 52rpx;
	height: 52rpx;
	border-radius: 30rpx;
	z-index: 0;
	animation: scaleDraw 0.3s ease-in-out;
	-webkit-animation: scaleDraw 0.3s ease;
	color: #fff;
}

@keyframes scaleDraw {

	/*定义关键帧、scaleDrew是需要绑定到选择器的关键帧名称*/
	0% {
		transform: scale(0.05);
		/*开始为原始大小*/
	}

	100% {
		transform: scale(1);
	}
}
.ranks .curr text {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50rpx;
	height: 50rpx;
	border-radius: 50%;
	/* background-color: #006B44; */
	color: #fff;
}

.sorting {
	height: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.seasonal {
	width: 92rpx;
	height: 92rpx;
	border-radius: 12rpx;
	background-color: #E0EAE9;
	display: flex;
	justify-content: center;
	align-items: center;
}
.seasonal.curr{
	width: 90rpx;
	height: 90rpx;
	border:2rpx solid #006B44;
}
.seasonal image {
	width: 56rpx;
	height: 56rpx;
	/* margin: 10rpx; */
}

.sorting .a-z {
	width: 92rpx;
	height: 92rpx;
	background-color: #E0EAE9;
	border-radius: 12rpx;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 44rpx;
	font-weight: 700;
	color: #006B44;
	position: relative;
	margin-top: 50rpx;
	position: relative;
}

.sorting .a-z .text {
  width:20rpx;
  height: 20rpx;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
.sorting .a-z image{
	width:100%;
	height: 92rpx;
}
.sorting .azs span{
	display: block;
	position: absolute;
	top:0;
	left: 0;
	width: 76rpx;
	height: 76rpx;
	animation: Draws 0.3s ease-in-out;
	-webkit-animation: Draws 0.3s ease;
	display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes Draws {

	/*定义关键帧、scaleDrew是需要绑定到选择器的关键帧名称*/
	0% {
		top:60%;
	}

	100% {
		top:1;
	}
}
.states {
	width: 64rpx;
	display: flex;
	flex-direction: column;
	background-color: #E0EAE9;
	color: #006B44;
	justify-content: center;
	align-items: center;
	border: 1px solid #006B44;
	border-radius: 40rpx;
	padding: 30rpx 0 0;
	margin-top: 110rpx;
}

.states text {
	text-align: center;
	font-weight: 600;
	font-size: 36rpx;
}

.toproof {
	background-color: #fff;
	width: 80rpx;
	height: 80rpx;
	border-radius: 50%;
	box-shadow: 0px 3px 20px 1px rgba(0, 107, 68, 0.1);
	margin-bottom: 40%;
}

.toproof image {
	width: 40rpx;
	height: 40rpx;
	margin: 20rpx;
}

.boxs {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 99;
}

.popup {
	background-color: #fff;
	border-radius: 20rpx;
	width: 48%;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: relative;
	min-height: 30%;
	padding:2% 3%;
	max-height: 90%;
	overflow: auto;
}
.popup .confirm{
	margin-top:20rpx;
	display: flex;
	justify-content: center;
	align-items: center;
	width:100%;
}
.popup .confirm button{
	width:50%;
}
.popup .tchw {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.close {
	position: absolute;
	top: 14rpx;
	right: 4%;
	width: 68rpx;
	height: 68rpx;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: none;
	color: #333;
	font-size: 40rpx;
	background:rgba(0, 0, 0, 0.1);
}

.commods {
	padding: 0 0%;
	position: relative;
	z-index: 98;
	min-height: 500rpx;
	max-height: 1200rpx;
	overflow: auto;
}

.commods .h3 {
	font-size: 40rpx;
}

.commods .h3 image {
	width: 56rpx;
	height: 56rpx;
}

.commods .cods {
	width: 50%;
	font-size: 36rpx;
	margin: 2% 0;
}

.commods .cods image {
	width: 40rpx;
	height: 40rpx;
	margin-right: 10rpx;
}

.commods .price {
	margin-top: 4%;
}

.commods .price .jiage {
	font-size: 60rpx;
}

.commods .price view {
	display: flex;
	justify-content: center;
	align-items: center;
}

.commods .price view label {
	height: 60rpx;
	line-height: 60rpx;
	width: 160rpx;
	border: 1px solid #D3D3D3;
	background-color: #fff;
	text-align: center;
	font-size: 40rpx;
	background:none;
	border-radius: 4rpx;
}

.commods .price view button {
	display: inline-block;
	font-size: 50rpx;
	margin: 10rpx;
	width:66rpx;
	height:66rpx;
	line-height:58rpx;
	padding:0;
}

.tochoose {		
	padding:0;
	margin-bottom: 3%;
	margin-top:2%;
	background-color: #f9f9f9;
	border-radius: 10rpx;
}
.tochoose view{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:1.5% 2%;	
	
}
.tochoose .shux{
	width:70%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.tochoose label {
	display: flex;
	align-items: center;
}
.tochoose button{
	font-size: 20rpx;
	background-color: #FFE1DB;
	color: #FE694B;
	border-radius: 50%;
	width:26rpx;
	height: 26rpx;
	display: flex;
	padding:0;
	margin-left: 20rpx;
	justify-content: center;
	align-items: center;
}
.h4 {
	height: 140rpx;
	line-height: 140rpx;
	font-size: 36rpx;
}
.commods .sizes{
	min-height: 300rpx;	
}
.sizes .sizelist {
	display: flex;
	flex-wrap: wrap;
	margin-bottom:30rpx;
	position: relative;
}
.sizes .sizelist .del{
	width:50rpx;
	height: 50rpx;
	line-height: 50rpx;
	font-size: 30rpx;
	margin:0;
	padding:0;
	position: absolute;
	top:15rpx;
	right:0;
}
.sizes .sizelist label {
	display: block;
	background-color: #fff;
	border: 1px solid #C5E7C8;
	height: 70rpx;
	line-height: 70rpx;
	min-width: 16%;
	margin: 1% 4% 1% 0;
	border-radius: 6rpx;
	text-align: center;
	padding:0 10rpx;
}

/* .sizes .sizelist label:nth-child(1) {
	margin-left: 0;
}

.sizes .sizelist label:nth-child(5n+1) {
	margin-left: 0;
} */
.sizes .sizelist .curr{
	border: 1px solid #42B14B;
	background: rgba(66,177,75,0.15);
	color: #42B14B;
}
.selectlist{
	margin-top:10rpx;
}
.memberes {
	height: 100%;
	overflow: auto;
	position: fixed;
	top: 0;
	right: 0%;
	width: 100%;
	/* text-align: right; */
	display: flex;
	justify-content: flex-end;
}

.boxs .memberes{
	right:0;
	animation: memb 0.5s ease;
		-webkit-animation: memb 0.5s ease;
	}
	@keyframes memb {  /*定义关键帧、scaleDrew是需要绑定到选择器的关键帧名称*/
		0%{
			width:0	
	        }
	    100%{
	        width:100%
	        }
	}
.meminfo {
	width: 55%;
	position: relative;
	background-color: #fff;
	height: 100%;
}

.meminfo .bgs {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}

.memberes .meminfo .touxiang {
	width: 130rpx;
	height: 130rpx;
}
.infoes{
	display: flex;
	flex-wrap: wrap;
	padding:0 2%;
}
.infoes view{
	width:50%;
	line-height: 60rpx;
	font-weight:700;
	color: #333;
	font-size: 28rpx;
}
.infoes view text{
	display: inline-block;
	width:200rpx;
	font-weight: 400;
	color: #666;
}
.pop-r {
	width: 35%;
	background-color: #F9F9F9;
	position: relative;
}

.pop-rs {
	height: 100%;
	/* 
	 */
	background-color: #F9F9F9;
}

.member {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 3% 4%;
	position: relative;
	z-index: 6;
}

.member .touxiang {
	width: 100rpx;
	height: 100rpx;
	margin-right: 20rpx;
}

.member label {
	display: flex;
	width: 50%;
	justify-content: start;
	align-items: center;
}

.member label text {
	line-height: 60rpx;
}
.member label button{
	text-align: left;
}
.member label .meminfo {
	display: flex;
	flex-direction: column;
	justify-content: start;
	text-align: left;
	align-items: flex-start;
	background:none;
}
.member label .meminfo text:nth-child(1) {
	font-size: 34rpx;
	color: #333;
	font-weight: 700;
}
.member label .meminfo text:nth-child(2) {
	font-size: 30rpx;
	color: #B0B0B0;
}
.member .btn {
	font-size: 24rpx;
	height: 50rpx;
	line-height: 50rpx;
	padding: 0;
	width: 200rpx;
}
.member text {
	height: 44rpx;
	line-height: 44rpx;
	font-size: 24rpx;
	padding:0 20rpx;
	border-radius: 6rpx;
}
.member .qingk{
	background-color:#FE694B ;
	color: #fff;
	height: 44rpx;
	line-height: 44rpx;
	
}
.member .fangqi{
	height: 42rpx;
	line-height: 42rpx;
	border:1px solid #FE694B ;
	color: #FE694B;
	background-color: #FFF4EE;
}
.member .youxian{
	height: 42rpx;
	line-height: 42rpx;
	border:1px solid #006B44 ;
	color: #006B44;
	background-color: #E0EAE9;
	white-space: nowrap;
	overflow: hidden;
}
.member button {
	margin:20rpx 0 0 0;
	background: none;
	color: #333;
	font-size: 50rpx;
	height: 60rpx;
	line-height: 60rpx;
	font-weight: 700;
}
.member .h9 {
	font-weight: 700;
	width:80%;
}
.member .h9 text{
	font-size: 26rpx;
	font-weight: 400;
}
.meminfo .shoppbag {
	width: 98%;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	z-index: 9;
	padding-right: 0;
}
.meminfo .shoppbag .baglist {
	width: 42%;
	margin-right: 3%;
	margin-bottom: 3%;

}

.h5 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	line-height: 100rpx;
	border-top: 1rpx solid #EEEEEE;
	margin: 0 4%;
	font-size: 24rpx;
	font-weight: 600;
}

.h5 text:nth-child(2) {
	color: #b0b0b0;
}
.h5 label{
	display: flex;
	align-items: center;
}
.h5 label button{
	height: 60rpx;
	line-height: 60rpx;
	font-size: 26rpx;
}
.goods {
	height: 33%;
	overflow: auto;
	padding: 0 4%;
}
.goods .prolist .h3{
	align-items: flex-start;
}
.prolist .h3 {
	display: flex;
	justify-content: space-between;
}

.prolist .h3 label {
	display: flex;
	align-items: flex-start;
	max-width:85%;
	white-space: nowrap;
	overflow: hidden;
}
.prolist .h3 label label{
	max-width: 100%;
	white-space: nowrap;
	overflow: auto;
}
.prolist .h3 .danjia text:nth-child(1){
	color: #999;
	font-size: 22rpx;
	font-weight: 400;
}
.prolist .h3 .danjia text:nth-child(2) em{
	font-size: 22rpx;
	font-style: normal;
	text-decoration: none;
}

.prolist .cods view {
	width: 45%;
	display: flex;
	justify-content: space-between;
}

.prolist .cods {
	margin: 2% 0;
}
.goods .prolist .cods{
	margin: 1% 0 3%;
	width:100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.goods .prolist .cods view{
	width:66%;
}
.goods .prolist .cods view label{
	white-space: nowrap;
}
.goods .prolist .danjia{
	white-space: nowrap;
}
.prolist .cods text {
	color: #333;
}
.ul {
	border-top: 1px solid #eee;
	width: 92%;
	margin: 1% auto;
	padding: 2% 0;
}
.ul .li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 66rpx;
	line-height: 66rpx;
}
.ul .li:nth-last-child(1) {
	font-weight: 600;
}
.ul .li label{
	display: flex;
	align-items: center;
}
.ul .li label image{
	width:40rpx;
	height: 40rpx;
}
.pop-r .confirm {
	padding: 30rpx 2%;
	position: absolute;
	bottom:0;
	left: 50%;
	transform: translateX(-50%);
	width:96%;	
}
.pop-r .confirm button{
	width:90%;
	margin:0 auto;
}
.pop-r .states {
	position: absolute;
	bottom: 26%;
	right: 101%;
}
.states .statnum{
	position: relative;
	width:100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding:10rpx 0;
	background: #006B44;
	border-radius: 0 0 40rpx 40rpx;
}
.states .statnum image{
	position: absolute;
	width:100%;
	max-height:100rpx;
	bottom:0;
	left: 0;
}
.states .statnum text{
	position: relative;
	z-index: 9;
	color: #fff;
	font-size: 28rpx;
}
.shoppbag {
	width: 94%;
	overflow: auto;
	white-space: nowrap;
	padding: 0 3%;
}

.hengs {
	width: 220%;
	display: flex;
}

.shoppbag .baglist {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 500rpx;
	border: 1px solid #C5E7C8;
	border-radius: 16rpx;
	padding: 1% 2% 0;
	margin-right: 30rpx;
	float: left;
	background-color: #fff;
}

.quantit {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid #eee;
	margin-top: 20rpx;
	padding: 10rpx 0;
}
.quantit .hhs text {
	color: #333;
	font-size: 24rpx;
	margin-right: 20rpx;
}

.quantit .nums {
	display: flex;
	align-items: center;
	font-size: 30rpx;
	color: #333;
}

.quantit .nums text {
	font-size: 50rpx;
	display: inline-block;
	width: 50rpx;
	color: #333;
	text-align: center;
}

.quantit .nums input {
	width: 100rpx;
	height: 50rpx;
	border: 1px solid #EEEEEE;
	background-color: #fff;
	border-radius: 6rpx;
	text-align: center;
}

.shoppbag .baglist.curr {
	background: #F0F9F1;
}

.baglist .bag {
	display: flex;
	flex-direction: column;
}

.baglist .bag .h8 {
	font-weight: 700;
	line-height: 60rpx;
	margin-bottom: 10rpx;
}

.baglist .bag label {
	font-size: 20rpx;
	color: #B0B0B0;
}

.baglist .bag label text {
	color: #42B14B;
	display: inline-block;
	border: 1px solid #42B14B;
	font-size: 20rpx;
	padding: 0 6rpx;
	height: 34rpx;
	line-height: 34rpx;
	border-radius: 4rpx;
	margin: 0 6rpx 0 0;
}
.baglist .bag label em{
	font-size: 24rpx;
	font-style: normal;
	text-decoration: none;
}
.nom {
	display: flex;
	padding: 2% 1% 1%;
	position: relative;
	z-index: 9;
}

.nom label {
	display: flex;
	justify-content: flex-start;
	/* align-items: center; */
	flex-direction: column;
	font-size: 30rpx;
	color: #B0B0B0;
	width: 20%;
	padding-left: 5%;
	border-right: 1px solid #f2f2f2;
}

.nom label:nth-last-child(1) {
	border-right: none;
}

.nom label text:nth-child(1) {
	font-size: 44rpx;
	font-weight: 700;
	color: #333;
	display: block;
	margin-bottom: 8rpx;
}

.rests {
	padding: 1% 4% 2.5%;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
	margin: 3% 0 0;
}

.h2 {
	font-size: 30rpx;
	font-weight: 700;
	line-height: 80rpx;
}

.restlist {
	display: flex;
	flex-wrap: wrap;
}

.restlist label {
	width: 50%;
	line-height: 60rpx;
	font-size: 30rpx;
}

.restlist label text:nth-child(2) {
	font-weight: 700;
}

.coulist {
	padding: 0 3%;
}

.coulist .uls{
	padding: 0;
	max-height: 1000rpx;
	overflow: scroll;
}

.coulist .uls .lis {
	width: 580rpx;
	margin-left: 0;
	margin-right: 1%;
}

/* .coulist .uls .lis:nth-child(2n) {
	margin-left: 2%;
} */

.coulist .voucher {
	width: 30%;
}

.coulist .voucher view {
	font-size: 48rpx;
}

.coulist .voucher text {
	font-size: 24rpx;
	text-align: center;
	white-space: nowrap;
	overflow: hidden; 
	text-overflow: ellipsis; 
}

.coulist .limit .h3 {
	line-height: 70rpx;
	white-space: nowrap;
	overflow: hidden;
}

.coulist .limit .h3 text {
	color: #333;
	font-size: 28rpx;
}
.coulist .limit .datas{
	font-size: 24rpx;
	white-space: nowrap;
	overflow: hidden;
}
	
.coulist .uls .lis .banyuan {
	width: 20rpx;
}

.coulist .directions button {
	height: 50rpx;
	line-height: 50rpx;
	padding: 0 20rpx;
	font-size: 22rpx;
}

.coulist .directions button image {
	width: 24rpx;
}
.shuoming{
	white-space: nowrap;
	overflow: hidden; 
	text-overflow: ellipsis; 
}

/*checkbox 选项框大小  */
checkbox .uni-checkbox-input,
uni-checkbox .uni-checkbox-input {
	width: 36rpx;
	height: 36rpx;
	border-radius: 50%;
	background-color: #fff;
	border: 1px solid #42B14B;
}

/*checkbox选中后样式  */
checkbox .uni-checkbox-input.uni-checkbox-input-checked {
	background: #fff;
	border: 1px solid #42B14B;
}

/*checkbox选中后图标样式  */
checkbox .uni-checkbox-input.uni-checkbox-input-checked::before {
	text-align: center;
	font-size: 34rpx;
	color: #42B14B;
	background: #fff;
	border-radius: 50%;
}
checkbox.mycheck .wx-checkbox-input,
	checkbox.mycheck .uni-checkbox-input {
		width: 36rpx !important;
		height: 36rpx !important;
		background-color: #eeeeee !important;
		border-radius: 50% !important;
		border: solid 1rpx #42B14B !important;
	}
	
	
	// 选中后的 对勾样式 
	checkbox.mycheck .uni-checkbox-input-checked::before,
	checkbox.mycheck .wx-checkbox-input-checked::before{
		width: 36rpx;
		height: 36rpx;
		font-size: 36rpx !important; // 对勾大小 30rpx /
		color: #42B14B;
	}
.harvest {
	padding: 0 4% 2%;
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid #eee;
}

.harvest label {
	display: flex;
	line-height: 54rpx;
	font-size: 26rpx;
	align-items: center;
}
.harvest label picker{
	border:1rpx solid #ddd;
	margin-right: 6rpx;
	padding:0 10rpx;
	height: 54rpx;
	line-height: 54rpx;
	border-radius: 10rpx;
}
.harvest label text:nth-child(1) {
	display: inline-block;
	color: #b0b0b0;
	width: 130rpx;
}
.harvest label .input{
	border:1px solid #ddd;
	height: 50rpx;
	line-height: 50rpx;
	padding:0 10rpx;
	width:70%;
	border-radius: 10rpx;
}

/* 搜索 */
.sousuo {
	background-color: #006B44;
	color: #fff;
	font-weight: 400;
	border-radius: 30rpx;
	font-size: 28rpx;
	padding: 0 18rpx;
	height: 48rpx;
	line-height: 48rpx;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 10rpx;
	position: relative;
}

.sousuo label {
	display: flex;
	align-items: center;
	justify-content: center;
}

.sousuo image {
	width: 30rpx;
	height: 30rpx;
}

.criterias {
	position: absolute;
	background-color: #fff;
	width: 500rpx;
	top: 105%;
	right: 0;
	padding: 20rpx 30rpx;
	border-radius: 10rpx;
	display: flex;
	flex-direction: column;
}

.criterias .critlist {
	width: 100%;
	border: 1px solid #98C3B3;
	height: 60rpx;
	border-radius: 6rpx;
	color: #333;
	padding: 0 10rpx;
	margin: 10rpx;
	display: flex;
}

.criterias .critlist text {
	color: #98C3B3;
}

.criterias .critlist input {
	height: 58rpx;
}

.confs {
	width: 100%;
}

.hh .sousuo .btn {
	margin: 0 20rpx;
	border-radius: 10rpx;
	width: 48%;
	height: 62rpx;
	line-height: 62rpx;
	font-size: 30rpx;
}

.hh .sousuo .btn-qx {
	background-color: #eee;
	color: #aaa;
}
.sgin{
	color: #ff0000;
}

.detinfo{
	height: 88%;
}
.special{
	width:70%;
	padding:0 2% 5%;
}
.special .commods {
	max-height: 75%;
}
.special .commods .uls{
	max-height: 1000rpx;
	overflow: auto;
}
.special .commods .uls .lis{
	width:100%;
	margin:10rpx 0 2%;
	padding:0 0 3%;
	border-radius: 20rpx;
	overflow: hidden;
}
.special .commods .uls .lis .h8{
	display: flex;
	color: #006B44;
	background-color: #EEEEEE;
	position: relative;
	border-radius: 20rpx 20rpx 0 0;
}
.special .commods .uls .lis .h8 view{
	position: relative;
	margin-right: 3%;
	height: 90rpx;
	line-height: 90rpx;
	padding:0 2%;
}
.special .commods .uls .lis .h8 view em{
	position: absolute;
	width:140rpx;
	bottom:26rpx;
	left: 26rpx;
	height: 12rpx;
	background: linear-gradient(90deg, #006B44 0%, rgba(0,107,68,0) 100%);
	border-radius: 9rpx;
	opacity: 0.5;
}
.special .commods .uls .lis .h8 label{
	line-height: 90rpx;
}
.special .commods .uls .lis .h8 label text{
	color: #FE694B;
}
.special .commods .uls .lis .h8 span{
	position: absolute;
	top:50%;
	right:-20rpx;
	background-color: #42B14B;
	color: #fff;
	height: 40rpx;
	line-height: 40rpx;
	padding:0 40rpx 0 20rpx;
	border-radius: 30rpx 0 0 30rpx;
	font-size: 26rpx;
	font-weight: 400;
	transform: translateY(-50%);
	display: none;
}
.special .discount{
	padding:0 3%;
	display: flex;
	flex-direction: column;	
}

.special .discount label{
	line-height: 80rpx;
	color: #B0B0B0;
}
.special .discount label span{
	font-size: 600;
}
.special .discount label text{
	font-size: 600;
	color: #FE694B;
}
.special .discount view{
	background-color: #F8F8F8;
	border:1rpx solid #C5E7C8;
	border-radius: 10rpx;
	padding:0 1%;
	margin-top:2%;
}
.special .zhekou{
	max-height: 400rpx;
	overflow: scroll;
	display: flex;
	flex-direction: column;
	background-color: #fff;
	border:none;	
}
.special .curr .discount label{
	color: #006B44;
}
.special .commods .uls .curr .h8{
	background: #eefeef;
}
.special .commods .uls .curr .h8 span{
	display: block;
}
.special .confirm .btn{
	width:50%;
	margin:0 auto;
}
.detailys{
	width:100%;
	height: 92%;
}
.hot-sales{
		height:56rpx;
		margin-left: 30rpx;
		display: flex;
		align-items: center;
	}
	.particular{
		display: flex;
		margin-top:40rpx;
		padding:0 2%;
		height: 90%;
		width:94%;
	}
	.particular .shuffs{
		width:54%;
		margin-right: 1%;
	}
	.shuffs .banner{
		width:100%;
		padding-bottom:100%;
		position: relative;
	}
	.shuffs .banner swiper{
		position: absolute;
		top:0;
		left: 0;
		width:100%;
		height: 100%;
	}
	.shuffs .banner swiper image{
		width:100%;
		height: 100%;
		border-radius: 20rpx;
	}
	.shuffs .banner swiper .logo{
		position: absolute;
		top:26rpx;
		left: 24rpx;
		width:280rpx;
		height: 40rpx;
	}
	.tupian{
		display: flex;
		margin-top:1.5%;
		padding:0 5%;
	}
	.tupian label{
		display: flex;
		width:20%;
		justify-content: center;
		align-items: center;
	}
	.tupian label image{
		width:130rpx;
		height: 130rpx;
		border-radius: 10rpx;
	}
	.particular .exhibiting{
		width:44%;
		margin-left: 1%;
		height: 100%;
		position: relative;
	}
	.exhibiting .h3{
		font-weight: 700;
		font-size: 40rpx;
		line-height: 60rpx;
	}
	.exhibiting .h3 image{
		width:40rpx;
		height: 40rpx;
		margin-right: 4rpx;
	}
	.exhibiting .miaos{
		color: #B0B0B0;
		font-size: 26rpx;
		line-height: 40rpx;
		margin-top:30rpx;
	}
	.exhibiting .commods{
		min-height: auto;
		max-height: auto;
	}
	.exhibiting .commods .price{
		margin:8% 0 5%;
	}
	.tochoose view{
		height: 80rpx;
		line-height: 80rpx;
	}
	.exhibiting .yxlb{
		display: flex;
		align-items: center;
		width:100%;
		flex-wrap: wrap;
		margin:3.5% 0 2%;	
	}
	.exhibiting .yxlb label{
		position: relative;
		background-color: #E0EAE9;
		color: #006B44;
		display: flex;
		align-items: center;
		padding:4rpx 18rpx 6rpx 14rpx;
		margin-right: 30rpx;
		border-radius: 40rpx;
		font-size: 26rpx;
		margin-bottom: 20rpx;
	}
	.exhibiting .sizes .chic{
		height: 80rpx;
		line-height: 80rpx;
	}
	.exhibiting .sizes .sizelist label{
		padding:0 1%;
		min-width: 27%;
		font-size: 28rpx;
	}
	.join{
		position: absolute;
		bottom:0;
		left: 0;
		width:100%;
		display: flex;
		justify-content: center;
		padding:20rpx 0;
		background-color: #F5F4F8;
	}
	.states{
		position: fixed;
		bottom:25%;
		right:1%;
		overflow: hidden;
		
	}
	.statnum{
		margin-top:40rpx;
	}
input::placeholder{
   font-weight:400;
}
input::-webkit-input-placeholder{
   font-weight:400;
}
input:-ms-input-placeholder{
    font-weight:400;
}
.gang{
	display: inline-block;
	width:6rpx;
	height: 30rpx;
	border-radius: 6rpx;
	background: #42B14B;
	margin-right: 8rpx;
}
.menu view .weiz-jtou{
	position: absolute;
	top:50%;
	transform: translateY(-40%);
	right:-0rpx;
	width:16rpx;
	height: 32rpx;
}
.menu view .weiz-jtou image{
	width:22rpx;
	height: 38rpx;
}
.right .bkjb{
	width:99.6%;
	height: 92%;
	/* border: 4rpx solid #006B44; */
	border-radius: 20rpx;
	background: linear-gradient(90deg, #006B44 0%, rgba(0,107,68,0.26) 100%);
	padding:4rpx;
}
.right .bkjb .neik{
	width:100%;
	height: 100%;
	background: #F5F4F8;
	border-radius: 14rpx;
}
