.leftcx{
	width:17%;
	background-color: #006B44;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #fff;
	height: 98%;
}
.leftcx .logo{
	border-radius: 50%;
	width:120rpx;
	height: 120rpx;
	display: flex;
	justify-content: center;
	align-items: center;
}
.leftcx .logo image{
	width: 100%;
	height: 100%;
}
.leftcx .biaoti{
	font-size: 34rpx;
	font-weight: 700;
	margin-top:10rpx;
}
.leftcx .menu{
	margin-top:60rpx;
	height: 67%;
	padding-bottom: 1%;
	overflow: auto;
}
.leftcx .menu image{
	width:30rpx;
	margin-right: 10rpx;
	margin-bottom: 0;
}
.glcx{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30rpx;
	padding:10rpx 2%;
}
.glcx.curr view{
	background-color: #fff;
	font-size: 32rpx;
	font-weight: 700;
	width:82%;
	color: #006B44;
}
.glcx view{
	background:rgba(255,255,255,0.2);
	border-radius: 20rpx;
	padding:14rpx 10rpx;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70%;
}
.listof,.prolist{
	width:100%;
}

.commodity{
	width:94%;
	padding:0 2%;
	background-color: #fff;
	border-radius: 20rpx;
	margin:0 auto;
	height: 87%;
	position: relative;
	overflow: auto;
	border: 2rpx solid #C5E7C8;
}
.commodity .mokuai{
	font-size: 34rpx;
	font-weight: 700;
	line-height: 100rpx;
	display: flex;
	align-items: center;
	position: relative;
	z-index: 2;
}
.bg-top{
	position: absolute;
	top:0;
	left: 0;
	width:100%;
	z-index: 1;
	height: 480rpx;
	border-radius: 20rpx;
	opacity: 0.4;
}
.commodity .mokuai text{
	font-size: 28rp;
	font-weight: 400;
}
.commodity .mokuai image{
	width:34rpx;
	height: 34rpx;
	margin-right: 10rpx;
}
.commodity .ol{
	display: flex;
	flex-wrap: wrap;
	margin-left: -1%;
	width:102%;
	position: relative;
	z-index: 9;
}
.commodity .ol .li{
	width:18.4%;
	padding:0.5% 1.8% 0;
	box-shadow: 0px 10rpx 20rpx 1px rgba(66,177,75,0.1);
	border-radius: 12rpx;
	border: 2rpx solid #DCF0DE;
	position: relative;
	margin:0 1% 2%;
}
.commodity .ol .li label{
	display: flex;
	align-items: center;
	height:70rpx;
	font-size: 26rpx;
}
.commodity .ol .li label image{
	width:30rpx;
	height: 30rpx;
}

.ol .li .summary{
	font-size: 32rpx;
	font-weight: 700;
	padding:0.5% 0 5% 0;
	border-bottom: 1px solid #EEEEEE;
}
.ol .li .summary:first-letter{
	font-size: 44rpx;
	color: #42B14B;
}
.examine{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 70rpx;
	font-size: 24rpx;
	color: #b0b0b0;
}
.examine image{
	width:30rpx;
	height: 30rpx;
}
.commodity .ol .li .zhuangs{
	position: absolute;
	top:0rpx;
	right:0;
	font-size: 160rpx;
	font-weight: 700;
	opacity: 0.08;
	color: #42B14B;
	line-height: 160rpx;
}
.commodity .ol .li:nth-child(1){
	background: linear-gradient(180deg, #E0F8E2 0%, #FFFFFF 100%);
	width:22%;
}
.commodity .ol .li:nth-child(2){
	background: linear-gradient(180deg, #E0F8F4 0%, #FFFFFF 100%);
}
.commodity .ol .li:nth-child(2) .zhuangs{
	color: #19C7A5;
}
.commodity .ol .li:nth-child(3){
	background: linear-gradient(180deg, #F8F2E0 0%, #FFFFFF 100%);
}
.commodity .ol .li:nth-child(3) .zhuangs{
	color: #FBB955;
}
.commodity .ol .li:nth-child(4),,.commodity .ol .li:nth-child(12){
	/* background: linear-gradient(180deg, #F8F2E0 0%, #FFFFFF 100%); */
	width:17.4%;
}
.commodity .ol .li:nth-child(7){
	width:16%;
}
.commodity .ol .li:nth-child(8){
	width:19%;
}
.commodity .ol .li:nth-child(6){
	width:22%;
}
.commodity .ol .li:nth-child(9){
	width:22%;
}
.tuichu{
	display: flex;
	justify-content: center;
	position: relative;
}
.tuichu .mendian{
	width:240rpx;
	height: 220rpx;
}
.tuichu button{
	position: absolute;
	top:50%;
	left: 11%;
	font-size:26rpx;
	background:rgba(0,0,0,0.3) ;
	color: #fff;
	display: flex;
	align-items: center;
	margin:0;
	padding:0 14rpx;
	height: 70rpx;
	line-height: 70rpx;
}
.tuichu button image{
	width:30rpx;
	height: 30rpx;
}

.takelist{
	display: flex;
	justify-content: space-between;
	height: 94%;
	padding:0 2%;
}
.takelist .condits{
	width:40%;
	background-color: #fff;
	height: 100%;
	padding:0;
	border-radius: 12rpx;
	border: 1px solid #EEEEEE;
	position: relative;
	overflow: hidden;
	margin-right: 2%;
}
.srqlist{
	width:90%;
	padding:0 5%;
	max-height: 90%;
	overflow:auto;
}
.condits .h1{
	font-size: 32rpx;
	line-height: 80rpx;
	font-weight: 700;
	margin-bottom: 20rpx;
	padding:0 1.5%;
}
.Putaway{
	width:72rpx;
	height: 72rpx;
	position: absolute;
	top:2%;
	left:-60rpx;
	background: #FFFFFF;
	box-shadow: 0px 5rpx 10rpx 1px rgba(66,177,75,0.25);
	border-radius: 20rpx;
	border: 2rpx solid #C5E7C8;
	display: flex;
	justify-content: center;
	align-items: center;
}
.Putaway label{
	display: flex;
	justify-content: center;
	align-items: center;
}
.Putaway image{
	width: 34rpx;
	height: 34rpx;
}
.srq{
	display: flex;
}
.srq label{
	width:50%;
	display: flex;
	flex-direction: column;
}
.srq label:nth-child(2){
	border-left: 1px solid #eee;
	padding-left: 2%;
}
.srq label text{
	color: #B0B0B0;
	font-size: 24rpx;
}
.srq label picker view{
	font-weight: 700;
	padding:10rpx 0 28rpx;
}
.srq label picker view image{
	width:22rpx;
	height: 22rpx;
}
.channel{
	margin-top:4%;
}
.tjmc{
	font-size: 24rpx;
	color: #b0b0b0;
	line-height: 60rpx;
}
.chanxz{
	display: flex;
	flex-wrap: wrap;
	padding:0 0 3%;
}
.chanxz label{
	width:30%;
	border-radius: 8rpx;
	border: 2rpx solid #C5E7C8;
	height: 70rpx;
	line-height: 70rpx;
	text-align: center;
	font-size: 26rpx;
	position: relative;
	overflow: hidden;
}
.chanxz label:nth-child(2),.chanxz label:nth-child(5){
	margin:0 4%;
}
.chanxz label em{
	display: none;
}
.chanxz label.curr{
	background: linear-gradient(180deg, #E0F8E2 0%, #FFFFFF 100%);
	border: 2rpx solid #42B14B;
	color: #42B14B;
	font-weight: 700;
	font-size: 32rpx;
}
.chanxz label.curr em{
	display: block;
	position: absolute;
	bottom:-2%;
	right:-3%;
	font-size: 30rpx;
	font-weight: 700;
	padding:4rpx 12rpx;
	border-radius: 8rpx 0 8rpx 0;
	background:#42B14B;
	color: #fff;
	height: 20rpx;
	line-height:20rpx;
	transform: scale(0.8);
}
.pulldown{
	margin-top:4%;
	display: flex;
	flex-direction: column;
	width: 100%;
}
.pulldown label{
	background: #F5F5F5;
	border-radius: 8rpx;
	border: 1px solid #EEEEEE;
	height: 60rpx;
	line-height: 60rpx;
	display: inline-block;
	position: relative;
	width: 100%;
}
.pulldown label input{
	font-size: 26rpx;
	height: 60rpx;
	line-height: 60rpx;
	padding:0 4rpx;
}
.pulldown label button{
	background-color:#DDDDDD;
	font-size:16rpx;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	width:30rpx;
	height: 30rpx;
	padding:0;
	margin:0;
	position: absolute;
	top:14rpx;
	right:3%;
}
.confirm{
	display: flex;
	position: absolute;
	bottom:0;
	padding:20rpx 0;
	left: 0;
	width:100%;
}
.confirm button{
	margin:0 5%;
}
.form{
	width:100%;
	background-color: #fff;
	border-radius: 12rpx;
	border: 2rpx solid #C5E7C8;
	padding:1% 0 0;
	position: relative;
}
.form table{
	width:96%;
	border:0;
	margin:0 auto;
	border-style:none;
	position: relative;
	padding-bottom: 80rpx;
}
.form table thead tr th{
	font-weight: 400;
	font-size: 26rpx;
	color: #b0b0b0;
	height: 60rpx;
	line-height: 60rpx;
}
.form table td,.form table th{
	text-align: center;
	height:70rpx;
	line-height: 70rpx;
	border-style:none;
}
.form table td:nth-last-child(1),.form table th:nth-last-child(1){
	text-align: right;
}
.form table tbody tr{
	border-radius: 6rpx;
	background: linear-gradient(90deg, #F7F7F7 0%, rgba(247,247,247,0.5) 100%);
}
.form table tbody tr td{
	border-top:16rpx solid #fff;
	font-size:26rpx;
}
.form table tbody tr:nth-child(2n){
	background: linear-gradient(90deg, #D0F3ED 0%, rgba(255,255,255,0.5) 100%);
}
.form table tfoot{
	position: absolute;
	bottom:0;
	left: 0;
	background: linear-gradient(90deg, #DDFCDF 0%, #FFFFFF 100%);
}
.form table td:nth-last-child(1),.form table th:nth-last-child(1){
	color: #19C7A5;
	font-weight: 700;
}
.form table td:nth-last-child(2),.form table th:nth-last-child(2){
	color: #42B14B;
}
.form table td:nth-last-child(4),.form table th:nth-last-child(4){
	color: #FE694B;
}
.biaoge{
	max-height: 90%;
	overflow: auto;
}
.form .totals view{
	width: 94%;
	margin:0 auto;
	display: flex;
	justify-content: space-between;
}
.totals{
	position: absolute;
	bottom:0;
	height: 80rpx;
	background: linear-gradient(90deg, #DDFCDF 0%, #FFFFFF 100%);
	border-radius: 10rpx;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.totals view{
	display: flex;
	align-items: center;
	font-size: 28rpx;
}
.totals view em{
	display: inline-block;
	margin:0 16rpx 0 40rpx;
	width: 8rpx;
	height: 48rpx;
	background: #42B14B;
	border-radius: 12rpx;
}
.totals view label{
	margin-right: 40rpx;
	display: flex;
	align-items: center;
}
.totals view label:nth-last-child(1){
	color: #19C7A5;
}
.totals view label:nth-last-child(2){
	color: #42B14B;
}
.totals view label:nth-last-child(4){
	color: #FE694B;
}
.totals view label text{
	font-weight: 700;
	font-size: 34rpx;
}
.totals button{
	width:340rpx;
	border-radius: 10rpx 0 10rpx 10rpx;
	height: 80rpx;
	line-height: 80rpx;
	padding:0;
	font-size: 32rpx;
}
.zibiao{
	position: fixed;
	top:0;
	right:0;
	background-color: #fff;
	width:65%;
	height: 100%;
}
.zibiao .form{
	padding-top:0;
}
.zibiao .h1{
	height:120rpx;
	line-height:120rpx;
	padding:0 2%;
	font-weight: 700;
}
.zibiao .h1 button{
	background:none;
}
.zibiao .form{
	width:96%;
	margin:0 auto;
	height: 90%;
	overflow: inherit;
}
.choice{
	display: flex;
	height: 70rpx;
	background-color: #D5F5D8;
	color: #006B44;
	position: relative;
	border-radius: 12rpx 12rpx 0 0;
}
.choice .table{
	border-radius: 12rpx 12rpx 0 0;
	background-color: #C5E7C8;
	display: flex;
}
.choice .tab{
	width:210rpx;
	height: 70rpx;
	line-height: 70rpx;
	padding:0 62rpx 0 56rpx;
	position: relative;	
	border-radius: 12rpx 12rpx 0 0;
	display: flex;
	align-items: center;
	text-align: center;
}
.choice .tab image{
	width:34rpx;
	height: 34rpx;	
	display: none;
	margin-right: 4rpx;
}
.choice .tab .bgs{
	position: absolute !important;
	bottom:0;
	width:110%;
	left: 0;
	height: 80rpx;
}
.choice .tab label{
	position: relative;
	z-index: 9;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.choice .tab.curr{
	background-color: #42B14B;
	color: #fff;
	font-weight: 700;
}
.choice .tab.curr image{
	display: block;
}
.operatys,.particul{
	display: flex;
	width: 100%;
	position: relative;
	z-index: 9;
}
.wk{
	background: #FFFFFF;
	border-radius: 12rpx;
	border: 2rpx solid #DCF0DE;
}
.operatys .operat-sales{
	width:66%;
	margin-right:2%;
	display: flex;
	justify-content: space-between;
	padding:1% 0 0
}
.operatys .operat-flow{
	width:32%;	
	padding:1% 0 0;
}
.memb{
	display: flex;
	justify-content: space-between;
}
.memb .huiyuan{
	display: flex;
	flex-direction: column;
	width: 46%;
	padding:0 0 0 4%;
}
.memb .huiyuan:nth-child(2){
	border-left:2rpx solid #DCF0DE;
	
}
.memb .huiyuan image{
	width:36rpx;
	height: 36rpx;
	margin-right: 6rpx;
}
.memb .huiyuan label{
	display: flex;
	align-items: center;
	font-size: 40rpx;
	font-weight: 700;
	line-height: 60rpx;
}
.memb .huiyuan text{
	color: #b0b0b0;
	font-size: 24rpx;
	margin-left: 42rpx;
}
.memb-stat{
	padding:4% 3% 0;
}
.memb-stat view{
	display: flex;
	justify-content: space-between;
	align-items: center;
	line-height: 56rpx;
	font-size: 26rpx;
}
.memb-stat view em{
	color: #42B14B;
	font-size:24rpx;
	margin-right: 6rpx;
}
.memb-stat view:nth-child(3+n) em{
	color: #19C7A5;
	
}
.particul .part-sale{
	width:50%;
}
.particul .part-cons{
	width:48%;
	margin-left: 2%;
}
.wk .h6{
	padding:0 3%;
	color: #FE694B;
	font-size: 28rpx;
	font-weight: 700;
}
.wk .h6 em{
	font-size: 24rpx;
	margin-right: 6rpx;
}
.breakage .huiyuan:nth-child(2n){
	border-left: none;
}
.breakage .huiyuan:nth-child(2n) text{
	margin-left: 0;
}
.cons-jl{
	padding:2.5% 0 1%;
}
.particul .part-waimai{
	width:40%;
}
.particul .pasrt-kq{
	width:58%;
	margin-left: 2%;
}
.cons-wm,.cons-qjl{
	display: flex;
	flex-wrap: wrap;
	
}
.waimai-list{
	background: linear-gradient(90deg, #D0F3ED 0%, #FFFFFF 100%);
	border-radius: 12rpx;
	position: relative;
	width:43%;
	padding: 2% 2% 2% 5%;
	font-size: 28rpx;
}
.waimai-list em{
	display: block;
	position: absolute;
	width:6rpx;
	height: 80%;
	top:10%;
	left: 4%;
	border-radius: 6rpx;
	background-color: #19C7A5;
}
.waimai-list .namewm{
	line-height: 60rpx;
	display: flex;
	align-items: center;
}
.waimai-list .namewm text{
	display: inline-block;
	background: #19C7A5;
	border-radius: 20rpx;
	padding:4rpx 10rpx;
	height: 36rpx;
	line-height: 36rpx;
	font-size: 26rpx;
	color: #fff;
	margin-left: 10rpx;
}
.waimai-list .pric{
	display: block;
	font-size:40rpx;
	font-weight:700;
	margin-bottom: 20rpx;
}
.waimai-xs{
	font-size: 26rpx;
	color: #333;
	font-weight: 700;
}
.waimai-xs text{
	font-weight: 400;	
	color: #b0b0b0;
}
.cons-qjl .waimai-list{
	background: linear-gradient(90deg, #F8F2E0 0%, #FFFFFF 100%);
	width:26%;
	padding:1.5% 2% 1.5% 5%;
}
.cons-qjl .waimai-list em,.cons-qjl .waimai-list .namewm text{
	background-color: #FBB955;
}
.plan-bf{
	flex-direction: column;
	width:20%;
	margin-right: 1%;
}
.plan-bf .huiyuan{
	width: 100%;
	height: 50%;
	justify-content: center;
}
.plan-bf .huiyuan:nth-child(2){
	border-left: none;
}
.sale-qk{
	display: flex;
	flex-wrap: wrap;
	width: 52%;
}
.sale-qk .waimai-list{
	padding:1% 3% 1.5%;
	width:40%;
	margin:1%;
	background: linear-gradient(180deg, #DDFFDF 0%, #FFFFFF 100%);
	border: 2rpx solid #DCF0DE;
}
.sale-qk .waimai-list .pric{
	font-size: 36rpx;
}
.sale-qk .waimai-list:nth-child(2){
	background: linear-gradient(180deg, #E6FFFA 0%, #FFFFFF 100%);
	border: 2rpx solid #D0F3ED;
}
.sale-qk .waimai-list:nth-child(3){
	background: linear-gradient(180deg, #F8F2E0 0%, #FFFFFF 100%);
	border: 2rpx solid #F7ECCF;
}
.sale-qk .waimai-list:nth-child(4){
	background: linear-gradient(180deg, #FFF0EC 0%, #FFFFFF 100%);
	border: 2rpx solid #FFE9E9;
}
.sale-qk .waimai-list image{
	width:30rpx;
	height: 30rpx;
	margin-right: 6rpx;
}
.sale-qk .waimai-list .pric{
	color: #42B14B;
}
.sale-qk .waimai-list:nth-child(2) .pric{
	color:#19C7A5;
}
.sale-qk .waimai-list:nth-child(3) .pric{
	color:#FBB955;
}
.sale-qk .waimai-list:nth-child(4) .pric{
	color:#FF9191;
}
.sale-qk .sale-jd{
	width: 100%;
	height: 8rpx;
	background: #F2F2F2;
	border-radius: 6rpx;
	position: relative;
	margin-top:30rpx;
}
.sale-qk .sale-jd label{
	display: inline-block;
	height: 8rpx;
	background-color: #42B14B;
	width: 12.8%;
	position: absolute;
	top:0rpx;
	left:0;
	max-width: 100%;
	border-radius: 6rpx;
}
.sale-qk .waimai-list:nth-child(2) .sale-jd label{
	background:#19C7A5;
}
.sale-qk .waimai-list:nth-child(3) .sale-jd label{
	background:#FBB955;
}
.sale-qk .waimai-list:nth-child(4) .sale-jd label{
	background:#FF9191;
}
.sale-qk .sale-jd text{
	position: absolute;
	top:-42rpx;
	right:0;
	height: 34rpx;
	line-height: 34rpx;
	font-size: 14rpx;
	background: #fff;
	padding:0 8rpx;
	box-shadow: 0px 3rpx 6rpx 1px rgba(0,0,0,0.1);
	border-radius: 8rpx;
}
.jlly{
	margin-top:-16rpx;
}
.jlly .sale-qk{
	width:100%;
}
.jlly .sale-qk .waimai-list{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: linear-gradient(90deg, #DDFCDF 0%, #FFFFFF 100%);
	border:none;
	border-radius: 8rpx;
}
.jlly .sale-qk .waimai-list:nth-child(2){
	background: linear-gradient(90deg, #D0F3ED 0%, #FFFFFF 100%);
}
.jlly .sale-qk .waimai-list .namewm{
	align-items: center;
}
.jlly .sale-qk .waimai-list label{
	margin-bottom: 0;
}
.jlly .sale-qk .waimai-list .namewm em{
	height: 40rpx;
	margin-right:8rpx;
	position: initial;
}
.jlly .sale-qk .waimai-list .pric{
	color: #333;
	font-size: 34rpx;
}
.jlly .h6{
	color: #006B44;
	line-height: 60rpx;
}
.sorts{
	height: 70rpx;
	text-align: right;
	line-height: 70rpx;
}
.sorts label{
	padding:0 20rpx;
	font-size: 28rpx;
}
.sorts label em{
	color:#42B14B;
	margin-right: 6rpx;
}
.sorts label:nth-child(2) em{
	color: #19C7A5;
}
.sorts label:nth-child(3) em{
	color: #FBB955;
}
.timeperiod{
	height: 80%;
	width:94%;
	margin:2%;
	display: flex;
	justify-content: center;
}
.Barchart{
	display: flex;
	justify-content: center;
	height: 90%;
	
	padding:0 2%;
	margin:0 2%;
	width:50%;
	position:relative;
}
.Barchart .beijing{
	position: absolute;
	top:0;
	left: 5%;
	width:95%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.Barchart .beijing view{
	width: 100%;
	border-bottom: 1px dashed #DDDDDD;
	position: relative;
}
.Barchart .beijing view text{
	position: absolute;
	top:-20rpx;
	left: -52rpx;
	height: 40rpx;
	line-height: 40rpx;
	width: 50rpx;
	font-size: 18rpx;
	color: #b0b0b0;
	text-align: right;
	padding-right: 10rpx;
}
.Barchart .dyxs,.Barchart .drxs{
	position: relative;
	display: flex;
	width: 48%;
	height: 100%;
	justify-content: center;
}
.Barchart .dyxs .dyname,.Barchart .drxs .dyname{
	position: absolute;
	bottom:-52rpx;
	line-height: 50rpx;
	font-size: 26rpx;
	color: #b0b0b0;
	left: 0;
	height: 50rpx;
	width: 100%;
	text-align: center;
}
.Barchart .dyxs view,.Barchart .drxs view{
	width:26rpx;
	height: 100%;
	position: relative;
	border-radius: 4rpx;
	margin:0 8rpx;
}
.Barchart .dyxs view label,.Barchart .drxs view label{
	position: absolute;
	bottom:0;
	left:0;
	width:100%;
	background-color: #42B14B;
	border-radius: 4rpx;
}
.Barchart .dyxs view:nth-child(3) label,.Barchart .drxs view:nth-child(3) label{
	background-color: #19C7A5;
}
.Barchart .dyxs view:nth-child(4) label,.Barchart .drxs view:nth-child(4) label{
	background-color: #FBB955;
}
.Barchart .dyxs view label text,.Barchart .drxs view label text{
	font-size: 14rpx;
	background-color: #E7FDE8;
	color: #42B14B;
	border:1px solid #42B14B;
	height:30rpx;
	line-height: 30rpx;
	padding:0 10rpx;
	border-radius: 6rpx;
	position: absolute;
	top:-38rpx;
	left: -80%;
	transform: scale(0.85);
	z-index: 9;
}
.cons-pl{
	height: 83%;
}
.bszb{
	display: flex;
	justify-content: space-between;
}
.bszb .charts-box{
	width: 33%;
	height: 280rpx;
}
.bszb .breakage{
	width:62%;
	padding-top:20rpx;
}
