
.content{
	height: 100vh;
}
.commodity{
	height: 97%;
}
.prolist{
	width:100%;
}
.sousuo{
	background-color: #006B44;
	color: #fff;
	font-weight: 400;
	border-radius: 30rpx;
	font-size: 28rpx;
	padding:0 18rpx 0 12rpx;
	height: 48rpx;
	line-height: 48rpx;
	display: flex;
	align-items: center;
	justify-content: center;
}
.sousuo image{
	width:30rpx;
	height: 30rpx;
}
.products{
	display: flex;
	height: 93%;
}
.products .procycle{
  width:41%;
  margin-top:0;
  display: block;
  height: 100%;
  overflow: auto;
}
.products .procycle .li{
  width:93%;
  padding:2% 3%;
  border:1px solid #ddd;
}
.products .procycle .li.curr{
  border:1px solid #42B14B;
  box-shadow: 0px 15px 20px 1px rgba(197,231,200,0.3);
}
.products .procycle .li .h3{
	line-height: 80rpx;
	display: flex;
	justify-content: space-between;
	font-size: 32rpx;
}
.products .procycle .li .h3 .state{
	color: #b0b0b0;
	font-weight: 400;
	font-size: 24rpx;
	margin-left: 5%;
}
.products .procycle .li .h3 .quxiao text{
	color: #FF8367;
}
.products .procycle .li .h3 .jiedan text{
	color: #42B14B;
	margin-right: 4rpx;
}
.procycle .li .danhao{
	color: #999;
	font-size: 28rpx;
}
.platform{
	display: flex;
	width:80%;
}
.prolist .cods{
	flex-wrap: wrap;
	/* margin:1% 0; */
}

.cods label{
	width:48%;
	line-height: 50rpx;
	color: #b0b0b0;
}
.cods label:nth-last-child(1){
	width:100%;
}
.prolist .cods label text{
	color: #b0b0b0;
}
/* .cods label:nth-child(1) text{
	color: #333;
} */
.address{
	margin-top:10px;
	padding:2% 1% 0;
	line-height: 50rpx;
	font-size: 24rpx;
	border-top:1px solid #eee;
}
.meminfo{
	width:100%;
}
.member{
	padding:2% 4%;
}
.products .details{
	width:58%;
	margin-left: 2%;
	height: 100%;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.details .goods{
	padding:0 4%;
	max-height: 400rpx;
	overflow: auto;
	border-bottom:1px solid #eee;
}
.operat{
	display: flex;
	flex-wrap: wrap;
}
.operat button{
	width:46%;
	margin:1% 2%;
	font-size: 32rpx;
}
.breakage{
	padding:1% 4%;
}
.breakage label{
	display: flex;
	width:100%;
	margin: 30rpx 0;
}
.breakage label text{
	min-width: 160rpx;
	line-height: 60rpx;
	color: #b0b0b0;
	font-size: 26rpx;
}
.breakage label input,.breakage label textarea{
	width:70%;
	background-color: #F5F5F5;
	height: 60rpx;
	line-height: 60rpx;
	border-radius: 6rpx;
	border:1px solid #eee;
}
.breakage label textarea{
	line-height: 40rpx;
	height: 120rpx;
	vertical-align: top;
}
.memberes .goods{
	height:58%;
}
.confirm{
	display: flex;
	background-color: #fff;
	padding:2%;
	/* position: absolute; */
	bottom:0;
	width:96%;
}
.confirm button{
	margin:0 2%;
}
.meminfo{
	right:0;
	position: fixed;
	height: 100%;
}
.boxs .memberes .confirm{
	width:96%;
	padding:1% 2%;
	display: flex;
}
.boxs .memberes .confirm button{
	width:46%;
}
.prolist .cods view{
  width:80%;
}
.detinfo .member label label{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}
.detinfo .member label label text:nth-child(2){
  background:none;
  color: #333;
  padding:0;
}